body 
{
     /*background-color: rgb(215, 210, 209);*/
     background-color: rgb(161, 156, 155);
         height:99%;
}

div.treeView
{
    width:80%;
   margin:0 auto;
    margin-top:auto;    
    background-color: rgb(215, 210, 209);
    color:black;
}

div.contentArea
{
    width:80%;
    height:99%;
    text-align:center;
    margin-top:10px;
    /*background-color: rgb(161, 156, 155);*/
    background-color: rgb(215, 210, 209);
    margin-right: auto;
    margin-bottom: 0;
}

div.navbar-Footer {
    margin-bottom: 0%;
    background-color: red;
}

 a.list-group-item
 {
     width:50%;
     background-color: rgb(0,91,170);
     margin:0 auto;
     color: white;
 }
 /*.navbar,navbar-brand,active,navbar-nav,
 navbar-inverse,container-fluid,navbar-header,navbar-toggle,
 ollapse, navbar-collapse*/
 nav
 {
     /*background-color:green;*/
     background-color: rgb(0, 91, 170);
     margin-top:0px;
 }

 .form-control
 {
     margin:0 auto;
     width:50%;
 }

 img
 {
     
 }

 .BussLogo
 {
     height:100px;
     width:100px;
 }

 hr
 {
     width:50%;
     color: black;
 }
 .btn
 {
     background-color: rgb(218,28,51);
 }

 .form-control
 {
     height: 36px;
 }
