body 
{
     /*background-color: rgb(215, 210, 209);*/
     background-color: rgb(161, 156, 155);
         height:99%;
        
      
}

 .btna{
 
   margin-left:-36%;
  

 }

#searcher
       {
        
        width:150px;
        
       }
 /* .ser
       {
        
        font-size:15px;
        height:100px;
        padding-top:100px;
        
       }

  .ser>span
 {
      
         border-radius:0px;
         background-color:white;
         width:50px;
         line-height:35px;
     

         
 }*/
 .over
 {
         overflow-wrap:break-word;
    white-space:pre-wrap;
 }
div.treeView
{
    width:80%;
    
    max-height:60px;
   margin:0 auto;
    margin-top:auto;    
    background-color: rgb(215, 210, 209);
    color:black;
    line-height:30px;
    overflow-wrap:break-word;
    white-space:pre-wrap;
}
#Div1 {
    text-wrap: normal;
    width: 50%;
    margin-left: 25%;
    text-align: center;
}

 .back
 {
     position:absolute;
     margin-top:10px;
    margin-left:10%;
    border-radius:0px;
    
     
 }

div.contentArea
{

    width:80%;
    height:99%;
    text-align:center;
    position:center;
    margin:0 auto;
    margin-top:10px;
    margin-left:10%;
    /*background-color: rgb(161, 156, 155);*/
    background-color: rgb(215, 210, 209);

}







div.navbar-Footer {
    margin-bottom: 0%;
    background-color: red;
}

 a.list-group-item
 {
     width:50%;
     background-color: rgb(0,91,170);
     margin:0 auto;
     color: white;
 }
 /*.navbar,navbar-brand,active,navbar-nav,
 navbar-inverse,container-fluid,navbar-header,navbar-toggle,
 ollapse, navbar-collapse*/
 nav
 {
     /*background-color:green;*/
     background-color: rgb(0, 91, 170);
     margin-top:0px;
 }

 .form-control
 {
     margin:0 auto;
     width:50%;
 }

 img
 {
     
 }

 .BussLogo
 {
     height:100px;
     width:100px;
 }

 hr
 {
     width:50%;
     color: black;
 }
 .btn
 {
    /*background-color: rgb(218,28,51);*/ 
     
 }

 .form-control
 {
     height: 36px;
 }
 div#errormsg
 {
     position:absolute;
     background-color:rgba(0,0,0,0.4);
     height:100%;
     width:100%;
    bottom: 100px;
}
 div#errorinner
 {
     margin-top:20%;
     height:20%;
     width:25%;
     background-color:white;
     margin:auto;
     margin-top:15%;
 }
 .frgt
 {
     margin-left:7%;
     position:absolute;
 }

 .btnb{
 
   margin-left:9%;

 }
 #DownloadReport
 {
     height:30px;
 }
 .serc
 {
    
    margin-right:28%;
     
 }
 

 .glyphicon
 {
     line-height:1.5;
 }

 #EmailReport
 {
     
     margin-right:0.25%;
     height:30px;
 }



